---
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"

  # Maintain dependencies for Docker images
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"

  # Maintain dependencies for Rust
  # Note: Dependabot can't recursively search directories at the moment
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/node"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/runtime"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/runtime/generate-bags"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/client/evm-tracing"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/client/rpc-core/debug"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/client/rpc-core/trace"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/client/rpc-core/types"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/client/rpc/debug"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/client/rpc/trace"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/node/cli-opt"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/precompiles/substrate-transfer"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/primitives/account"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/primitives/core"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/primitives/ext"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/primitives/rpc/debug"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/primitives/rpc/evm-tracing-events"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/runtime/evm_tracer"
    schedule:
      interval: "monthly"

  # Maintain dependencies for Node.js
  - package-ecosystem: "npm"
    directory: "/testing"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "npm"
    directory: "/cli"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  - package-ecosystem: "npm"
    directory: "/docs/smart-contract-development/with-hardhat"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
