---
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"

  # Maintain dependencies for Docker images
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"

  # Maintain dependencies for Rust
  # Note: Dependabot can't recursively search directories at the moment
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/node"
    schedule:
      interval: "monthly"

  - package-ecosystem: "cargo"
    directory: "/runtime"
    schedule:
      interval: "monthly"

  - package-ecosystem: "npm"
    directory: "/testing"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]

  # Maintain dependencies for Node.js
  - package-ecosystem: "npm"
    directory: "/cli"
    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]