---
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"

  # Maintain dependencies for Docker images
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"

  # Maintain dependencies for Rust
  # Note: Dependabot can't recursively search directories at the moment
  - package-ecosystem: "cargo"
    directories:
      - "/"
      - "/client/evm-tracing"
      - "/client/rpc-core/debug"
      - "/client/rpc-core/trace"
      - "/client/rpc-core/types"
      - "/client/rpc/debug"
      - "/client/rpc/trace"
      - "/node"
      - "/node/cli-opt"
      - "/precompiles/substrate-transfer"
      - "/primitives/account"
      - "/primitives/core"
      - "/primitives/ext"
      - "/primitives/rpc/debug"
      - "/primitives/rpc/evm-tracing-events"
      - "/runtime"
      - "/runtime/evm_tracer"
      - "/runtime/generate-bags"
    groups:
      prod-dependencies:
        dependency-type: "production"
        applies-to: version-updates
      dev-dependencies:
        dependency-type: "development"
        applies-to: version-updates
    schedule:
      interval: "monthly"

  # Maintain dependencies for Node.js
  - package-ecosystem: "npm"
    directories:
      - "/cli"
      - "/docs/smart-contract-development/with-hardhat"
      - "/docs/smart-contract-development/with-ethers.js"
      - "/testing"
    groups:
      prod-dependencies:
        dependency-type: "production"
        applies-to: version-updates
      dev-dependencies:
        dependency-type: "development"
        applies-to: version-updates

    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
