**/dist/
**/target/
**/node_modules/
**/*.rs.bk
*.swp
.wasm-binaries
polkadot/runtime/wasm/target/
core/executor/wasm/target/
core/test-runtime/wasm/target/
pwasm-alloc/target/
pwasm-libc/target/
pwasm-alloc/Cargo.lock
pwasm-libc/Cargo.lock
node/runtime/wasm/target/
**/._*
**/.criterion/
.vscode
polkadot.*
.DS_Store
.idea/
.cargo-remote.toml
.cargo/

# Zombienet bin
attestor/zombie/zombienet-linux-x64
attestor/zombie/zombienet-macos

# Attestor Zombienet config
attestor_zombienet/config.yaml

# Cairo
cairo/scripts/verify_merkle_proof_compiled.json
cario/lang/cpu_air_params.json

# Prover
prover/claims/*.json
prover/artifacts/*.json

# Added by cargo
/target

# NixOS development environment
.envrc

**/throwaway

# hardhat
**/cache/
**/typechain-types/
**/ignition/deployments/
precompiles/metadata/abi/*.json

# temp, output & test files
data/attestation-chain/*
data/block-cache/*
data/claim-proofs/*
data/db/*
**/*output.txt
**/program_input*.json
**/block_*.json
**/proof_*.json
**/*compiled.json
**/*trace.json
**/*memory.json
**/claim_attestation*.json
./config.json
primitives/data/*
