[package]
name = "evm-tracing-events"
authors = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }
repository = { workspace = true }
version = { workspace = true }
license = "GPL-3.0-only"

[dependencies]
environmental = { workspace = true }

# Substrate
parity-scale-codec = { workspace = true }
sp-runtime-interface = { workspace = true }

# Ethereum
ethereum = { workspace = true, features = ["with-codec"] }
ethereum-types = { workspace = true }
evm = { workspace = true, features = ["with-codec", "tracing"] }
evm-gasometer = { workspace = true }
evm-runtime = { workspace = true }

[features]
default = ["std"]
std = [
  "environmental/std",
  "ethereum-types/std",
  "ethereum/std",
  "evm-gasometer/tracing",
  "evm-runtime/tracing",
  "evm/tracing",
  "parity-scale-codec/std",
  "sp-runtime-interface/std",
]
