# Attestation cache database url
POSTGRES_URI=postgres://prover:prover@127.0.0.1:5432/attestations

# Cc3 config
CC3_KEY=
CC3_RPC_URL=

# Ethereum config
ETH_RPC_URL=
ETH_PRIVATE_KEY=

# Third party prover config
PROVER_BE_SOCKET_ADDR=
