[package]
name = "pallet-bridge"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
frame-support = { workspace = true }
frame-system = { workspace = true }
log = { workspace = true }
parity-scale-codec = { workspace = true }
scale-info = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }

pallet-balances = { workspace = true, optional = true }
frame-benchmarking = { workspace = true, optional = true }

[dev-dependencies]
assert_matches = { workspace = true }
pallet-balances = { workspace = true }


[features]
default = ["std"]
std = [
  "frame-support/std",
  "frame-system/std",
  "pallet-balances?/std",
  "parity-scale-codec/std",
  "scale-info/std",
  "frame-benchmarking?/std",
]
runtime-benchmarks = ["frame-benchmarking", "pallet-balances"]
